# LLM Providers (set the one you use)
OPENAI_API_KEY=
GOOGLE_API_KEY=
ANTHROPIC_API_KEY=
XAI_API_KEY=
OPENROUTER_API_KEY=

# 是否启用yfinance代理。yfinance会禁用国内IP, 根据部署的环境自行决定是否启用代理，以及代理的地址
USE_YF_PROXY=true

# 代理的URL格式
YF_PROXY_URL=http://127.0.0.1:10810
